body {
    background: white;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    background-color: #050000;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-in-out;
}

.heart {
    width: 80%;
    height: 80%;
    background-size: contain;
}

.bpm-value {
    font-size: 5rem;
    font-weight: bold;
    color: #e60000;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0); 
    }
    25% {
        transform: translateX(-10px); 
       
    }
    50% {
        transform: translateX(10px); 
    }
    75% {
        transform: translateX(-10px); 
    }
    100% {
        transform: translateX(0); 
      
    }
}

.normal-heartbeat{
    animation : heartbeat 0.7s ease-in-out infinite;
}

.fast-paced-heartbeat{
    animation: heartbeat 0.4s ease-in-out infinite;
}

.racing-heartbeat {
    animation: heartbeat 0.2s ease-in-out infinite;
}

.lol-heartbeat{
    animation: heartbeat 0.1s ease-in-out infinite ;
}

.wiggle-movement{
    animation:  shake 0.3s ease-in-out infinite;
}